<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="img/profileAvatar.jpg">

                <p>
                    <span class="title">Primapesa</span>
                    <br/>
                    <span class="sub-title">Fast Easy Loans</span>
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">
            <div ng-if="isAndroid" class="menu-list">
                <md-subheader class="md-warn">Menu</md-subheader>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.myaccount')">
                    <i class="fa fa-diamond"></i>
                    <span>My Account</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-line-chart"></i>
                    <span>Apply Loan</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-th-large"></i>
                    <span>Repay Loan</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-suitcase"></i>
                    <span>Loan Status</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-newspaper-o"></i>
                    <span>FAQs</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-graduation-cap"></i>
                    <span>How it Works</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-flag"></i>
                    <span>Feedback</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-cubes"></i>
                    <span>News</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-heart"></i>
                    <span>Contact Us</span>
                </md-list-item>
            </div>
            <md-list ng-if="!isAndroid">
                <md-subheader class="md-warn">Menu</md-subheader>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-diamond"></i>
                    <span>My Account</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-line-chart"></i>
                    <span>Apply Loan</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-th-large"></i>
                    <span>Repay Loan</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-suitcase"></i>
                    <span>Loan Status</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-newspaper-o"></i>
                    <span>FAQs</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-graduation-cap"></i>
                    <span>How it Works</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-flag"></i>
                    <span>Feedback</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-cubes"></i>
                    <span>News</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.home')">
                    <i class="fa fa-heart"></i>
                    <span>Contact Us</span>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
