<ion-view title="Start" hide-nav-bar="true">
    <ion-slide-box id="try-app-content" active-slide="0" style="background:#ffffff; height: 90%;">
        <ion-slide class="slide-01">
            <div>
            <img src="img/logo-primapesa.png" width="70%" style="width:60% !important; margin-top:30%;">
   
            <p style="color:#74c043; font-size:130%; margin-top: 5%;">Get fast, affordable loans<br/><br/>
            Directly to your phone.</p>
            </div> 
            
        </ion-slide>
        <ion-slide class="slide-01">
            <div style="padding:10%;">
            <p style="font-weight: bold; text-align:left; line-height:1; color:#74c043; font-size:300%; margin-top:20%;">
                We Make Borrowing Simple.
            </p>
            <p style="text-align:left; color:#74c043; font-size:130%; margin-top: 5%;">
            Follow three simple steps to receive cash instantly.</p>
            <img src="img/screen2image.png" style="width:100% !important; margin-top: 10%;">
            </div> 
            
        </ion-slide>

        <ion-slide class="slide-01">
            <div style="padding:10%;">
            <p style="font-weight: bold; text-align:left; line-height:1; color:#74c043; font-size:300%; margin-top:20%;">
                Why Primapesa?
            </p>
            <p style="text-align:left; color:#74c043; font-size:130%; margin-top: 10%;">
           <img src="img/green-tick.png" style="width: 6% !important;" /> Data Privacy.</p>
            <p style="text-align:left; color:#74c043; font-size:130%; margin-top: 7.5%;">
           <img src="img/green-tick.png" style="width: 6% !important;" /> Fast and Secure Loans.</p>
           <p style="text-align:left; color:#74c043; font-size:130%; margin-top: 7.5%;">
           <img src="img/green-tick.png" style="width: 6% !important;" /> Easy Loan Application.</p>
           <p style="text-align:left; color:#74c043; font-size:130%; margin-top: 7.5%;">
           <img src="img/green-tick.png" style="width: 6% !important;" /> Reliable Customer Service.</p>
            
            </div> 
            
        </ion-slide>

        <!-- <ion-slide class="slide-022"></ion-slide> #74c043;
        <ion-slide class="slide-033"></ion-slide>

        <ion-slide class="slide-088">
            <a href="#/app/signup" class="sign-up-button md-raised md-button md-default-theme material-background">
                SIGN UP PRIMAPESA</a>
        </ion-slide> -->
    </ion-slide-box>
    <div style="background: red; height: 20%;">
        <div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/app/signup" class="left md-raised md-button md-default-theme " style="background: red; color: #ffffff; font-size:1.1em;" >SIGN UP</a>
                </div>
                <div class="col-50">
                    <a href="#/app/login" class="right md-raised md-button md-default-theme" style="background: red; color: #ffffff; font-size:1.1em; float: right;">Log In</a>
                </div>
            </div>
    </div>
</ion-view>