<ion-view title="Sign Up" hide-nav-bar="true" style="background: #74c043 !important;">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <form name="contractForm1">
        <ion-content id="contract-details-content1" style="padding: 10%;"> 
            <p style="color: #ffffff; margin-bottom:10%;">SIGN UP</p>
            <div>
                <form>
                <div style="border:transparent solid 1px;">
                    <p style="color: #ffffff; font-size: 200%; line-height: 1em; font-weight: bold;">Enter your registered phone number.</p>
                    <p style="color: #ffffff; font-size: 110%; line-height: 1.5em;">
                        This phone number should be the number used for your registration by the employer.
                    </p>
                    <!-- <p>Sorry, you have not been added to 
                        primapesa system by your employer. 
                        Please contact employer or promapesa 
                        admin.
                        <br/>
                        Account Not Active, 
                        press next to activate account.
                    </p> -->

                    <div style="margin-top:20%;">
                        <div style="width: 25% !important; float: left; color: #ffffff; border-bottom: 2px solid #ffffff;">
                            <p style="font-size: 200%;"> +254 </p> 
                        </div>
                        <div id="signup" style="width: 70% !important; margin-left: 5%; overflow: hidden; float: right;">
                            <input ng-model="phone" type="tel" minlength='9' maxlength='9' style="background: transparent;" /> </p>
                        </div>
                        
                        
                    </div>
                    

                </div>
                <div style="text-align: center; margin-top:40%; color: #ffffff;">
                    <p style="margin: auto; padding: 2% 3%; border: #ffffff 1px solid; width: 60%;" 
                    ng-click="signup(phone)">Activate</p>
                    <p style="margin-top:10%;" ng-click="back()">BACK</p>
                </div>
                </form>
            </div>
        </ion-content>
    </form>
</ion-view>


