<!--View Information-->
<!--View name : Contract Us-->
<!--Controller name : contractUsCtrl-->
<!--Controller path : www/templates/share-application-content/email-message/js/controllers.js-->
<!--State name : app.contractUs-->
<!--URL : #app/contractUs-->

<ion-view view-title="">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <md-button ng-disabled="isLoading" class="md-icon-button ion-nav-button-right" ng-click="navigateTo('app.home')"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons>
    <!--toolbar section-->
    <md-toolbar class="md-tall md-primary toolbar-with-image">
        <div>
            <h1>Contact Us</h1>

            <h2>Primapesa @ 2017</h2>
        </div>
    </md-toolbar>
    <!--end toolbar section-->

    <!--button section-->
    <a class="md-button md-accent md-fab fab-toolbar-medium" style="background: #74c043;" 
       ng-click="callTo(contactInfo.telephone)"
       aria-label="Add">
        <i class="ion-android-call"></i>
    </a><!--end button section-->

    <!--contract us section-->
    <ion-content id="contract-us-content">
        <!--header section-->
        <div class="row header">
            <div class="col">
                Contact Our Team:
            </div>

        </div> <!--end header section-->

        <!--content section-->
        <div class="row content">
            <div class="col-75">
                {{contactInfo.email}}
            </div>
            <div class="col-25">
                <i class="ion-android-mail" ng-click="sentEmail(contractInfo.email)"></i>
            </div>
        </div>

        <div class="row content">
            <div class="col-75">
                {{contactInfo.telephone}}
            </div>
            <div class="col-25">
                <i class="ion-android-textsms" ng-click="sentSms(contractInfo.telephone)"></i>
            </div>
        </div>

        <div class="row header">
            <div class="col">
                Address:
            </div>
        </div>
        <div class="row content">
            <div class="col-90">
                KENYA CINEMA BUILDING
                <br/>
                Nairobi Kenya.
            </div>

        </div>
        <div class="row content">
            <div class="col-90">
                Please contact us if you have any questions.
            </div>
        </div>
        <!--end content section-->
    </ion-content><!--end contract us section-->
</ion-view>