<!--View Information-->
<!--View name : Cloth Shop-->
<!--State name : app.clothShop-->
<!--URL : #app/clothShop-->

<ion-view title="Apply">

    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <md-button ng-disabled="isLoading" class="md-icon-button ion-nav-button-right" ng-click="navigateTo('app.home')"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons>

    <ion-content id="cloth-shop-content">

        <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
            <div>
                <h1>Kshs. {{loanlimit}}</h1>

                <h2>You Loan Limit.</h2>

                <h2>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </h2>
            </div>
        </md-toolbar>
        </ion-content>

        <form name="contractForm" >
        <ion-content id="contract-details-content" style="margin-top:45% !important;">
            <md-input-container md-no-float>
                <i class="ion-android-person"></i>
                <input ng-model="amount" name="amount" required placeholder="* Amount (Eg. 1000)"  type="tel" style="border-bottom:green solid 1px;">
            </md-input-container>
            <md-input-container md-no-float>
                <i class="ion-android-person"></i>
                <input ng-model="period" name="period" required placeholder="* Period (Eg. 5 Months)"  type="tel" style="border-bottom:green solid 1px;">
            </md-input-container>
            <md-input-container md-no-float>
                <i class="ion-android-person"></i>
                <a class="md-raised social-button md-button md-default-theme material-background" ng-click="apply(amount, period)" style="width:95%;">
                    Apply
                </a>
            </md-input-container>

        </ion-content>
        <!-- <div class="footer-fab-bar">
            <a class="md-button md-accent md-fab fab-footer" ng-click="showListBottomSheet($event,contractForm)"
               aria-label="Contract Form Actions">
                <i class="ion-android-star"></i>
            </a>
        </div> -->
    </form><!--end contract detail section-->

    <!--angular template section-->
    <script type="text/ng-template" id="contract-actions-template">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Contract Actions</h1>
            <md-list>
                <!--md bottom sheet list item-->
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-class="{ 'disabled-link': disableSaveBtn}"
                       ng-click="saveContract(contract,$event)">
                        <i class="ion-android-list"></i>
                        <span>Save Contract</span>
                    </a>
                </md-list-item>

                <md-list-item ng-show="actionDelete">
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="deleteContract(contract,$event)">
                        <i class="ion-android-delete"></i>
                        <span>Remove Contract</span>
                    </a>
                </md-list-item>
                <!--end md bottom sheet list item-->
            </md-list>
        </md-bottom-sheet>
    </script><!--end angular template section-->
</ion-view>